<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.controlatupeso">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".Util"
        android:allowBackup="true"
        android:icon="@drawable/bascula"
        android:label="@string/name_app">
        android:theme="@style/AppTheme2">
        <!--android:theme="@style/MiEstilo"> -->

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <activity
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:name=".SplashScreen"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MenuPrincipal"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:theme="@style/AppTheme2"
            android:name=".nuevo.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:theme="@style/StyleActionBar"
            android:name=".ListadoPerfiles"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:theme="@style/StyleActionBar"
            android:name=".CrearPerfil"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Registra"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".NuevoPeso"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:theme="@style/StyleActionBar"
            android:name=".EditarPerfil"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ListadoPeso"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ListadoObjetivos"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Preferencias"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />


        <activity
            android:name=".NuevoObjetivo"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>

    </application>

</manifest>
